Importing packages

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

PIMA Dataset

In [2]:
#Reading dataset
Dataset=pd.read_csv('/content/diabetes.csv')

In [3]:
#Printing first 2 rows of dataset
Dataset.head(2)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0

[2 rows x 9 columns]

In [ ]:
#Dataset shape (rowsxcolumn)
Dataset.shape

(768, 9)

In [4]:
#Defining mean statistical of data
Dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [8]:
#Total outcomes(0 for healthy person and 1 for diabetic)
Dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [9]:
#Mean value of diabetic and non diabetic
Dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [24]:
#Separating data and labels
P=Dataset.drop(columns="Outcome",axis=1)  #Dropping Outcome column
Q=Dataset['Outcome']

In [25]:
print(P)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [26]:
#Standardizing Data
standard_scalar=StandardScaler()

In [27]:
standard_data=standard_scalar.fit_transform(P)

In [28]:
P=standard_data
Q=Dataset['Outcome']

In [29]:
print(P)
print(Q)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [83]:
#Training of data
P_train,P_test,Q_train,Q_test=train_test_split(P,Q,test_size=0.25,stratify=Q,random_state=7)

In [84]:
#Checking shape of data considerd for test and train
print(P.shape)
print(P_train.shape)
print(P_test.shape)

(768, 8)
(576, 8)
(192, 8)

In [85]:
#Modal Training
classifier=svm.SVC(kernel='linear')

In [86]:
#Adding data to classifier
classifier.fit(P_train,Q_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [87]:
#Modal and accuracy prediction of train data
P_train_prediction=classifier.predict(P_train)
train_data_accuracy=accuracy_score(P_train_prediction,Q_train)

In [88]:
print("Accuracy score of train data",train_data_accuracy)

Accuracy score of train data 0.765625

In [89]:
#Modal and accuracy prediction of test data
P_test_prediction=classifier.predict(P_test)
test_data_accuracy=accuracy_score(P_test_prediction,Q_test)

In [90]:
print("Accuracy score of test data",test_data_accuracy)

Accuracy score of test data 0.8125

Creating diabetes prediction system

In [50]:
#Taking user input
Data_Input=(2,197,70,45,543,30.5,0.158,53)

#Converting input data into array
Array=np.asarray(Data_Input)
Reshaping_Data=Array.reshape(1,-1)   #Reshaping

#Standardization of input data
std_Data_Input=standard_scalar.transform(Reshaping_Data)


#Testing of data
predict=classifier.predict(std_Data_Input)
if predict==1:
  print("Diabetes Patient !")
  print("->Take proper diet")
  print("->Avoid junk food")
  print("->Do exercise regularly")
  print("->Live stressfree")
else :
  print("Healthy Person :)")

Diabetes Patient !
->Take proper diet
->Avoid junk food
->Do exercise regularly
->Live stressfree